.cta {
  height: 55vh;
}
#button-cta {
  padding: 2vh 10vh;
  border-radius: 4vh;
  border: none;
  width: 26vh;
  background-color: #0e346d;
  color: white;
}
.column-cta{
    font-size: 4vh;
    font-weight: 700;
}
