.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.nav{
    width: 100%;
}
.header-links{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.header-links > li{
    margin: 2rem 1rem;
    list-style-type: none;
    text-decoration: none;
}
.link-h{
    text-decoration: none;
    color: #9b9595;
    font-size: 0.8rem;
}
li:last-of-type{
    margin-right: 3rem;
}
.logo{
    display: flex;
    width: 100%;
}
.logo p{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 3rem;
    font-weight: 700;
}
.logo img{
    width: 35px;
    height: 35px;
    display: flex;
    align-self: center;
    margin: 0% 0 2% 2%;
}
.logo a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    color: black;
}
// Responsive Code
#menu, .exit-btn{
    display: none;
}
// Media queries

@media(max-width: 768px){
    .container div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    // .hide-desktop{
    //     display: none;
    // }
    .mobile-view{
        margin-top: 2%;
        display: none;
    }
    #menu, .exit-btn{
        display: flex;
        color: white;
    }
    .container{
        margin-top: 3vh;
        flex-direction: row-reverse;
    }
    .banner img{
        width: 56%;
    }
    .header-links{
        position: fixed;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: left;
        background: rgb(36,41,44);
        display: flex;
        flex-direction: column;
        justify-content: start;
        display: none;
    }
    .header-links a{
        color: white;
        padding: 1%;
    }
    .header-links > li{
        margin: 6%;
        font-size: 5vh;
    }
    .header-links li:hover{
        background-color: rgb(79, 80, 83);
    }
    .header-links:hover{
        display: block;
        background-color: red;
    }
}