.grid {
  display: flex;
  flex-wrap: wrap;
  max-height: 87%;
  overflow: hidden;
  background-color: white;
  div {
    width: 1.5vh;
    height: 1.5vh;
    justify-content: center;
  }
}
.shooter {
  background-color: blue;
  border-radius: 10%;
}
.invader {
  background-color: #0e346d;
  border-radius: 10px;
}
.boom {
  background-color: rgb(233, 19, 19);
}
.laser {
  background-color: rgb(252, 175, 32);
}

@media (min-width: 678px) {
  .grid div {
    width: 2.5vh;
    height: 2.5vh;
    display: flex;
    justify-content: center;
  }
}
