.footerImg {
  // background-image:url("../../img/footer-bg-image.png");
  height: 50vh;
  padding-right: 3%;
  padding-left: 3%;
  background-repeat: round;

  img {
    max-width: 100%;
    vertical-align: bottom;
  }
  .row .column {
    margin-top: 27vh;
    color: white;
    font-weight: 500;
    margin-left: 1vh;
  }
  .row a {
    margin: 1vh;
    text-decoration: none;
    color: white;
    font-size: .8rem;
}
.row p{
      margin: 1vh;
      font-size: .8rem;
  }
}
