@use "./Components/NavigationBar/NavigationBarStyles.scss";
@use "./Components/PortfolioFooter/PortfolioFooter.scss";
@use "./pages/ProyectsPage/ProyectsPage.scss";
@use "./Components/ContactCallToAction/ContactCallToAction.scss";
@use "./Components/SpaceInvadersGame/SpaceInvadersGame.scss";
@use "./Components/ProjectsSection/ProjectsSection.scss";
@use "./pages/EducationPage/EducationPage.scss";
@use "./Components/ErrorBoundary/ErrorBoundaryStyles.scss";
@use "./Components/PortfolioRepoLink/PortfolioRepoLink.scss";
#root,
*,
*::after,
*::before,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.landingP {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
}
.space-invaders-section {
  background-image: url("../utils/img/reduxComp.png");
  height: auto;
  padding-right: 3%;
  padding-left: 3%;
  background-repeat: no-repeat;
}