@import "./Components/Navigation/NavigationStyles.scss";
@import "./Components/Footer/FooterStyles.scss";
@import "./Components/Projects/ProjectsStyles.scss";
@import "./Components/Cta/CtaStyles.scss";
@import "./Components/BattleComp/ReduxCompStyles.scss";
@import "./Components/ProyectsPage/ProjectsStyles.scss";
@import "./Components/Education/EducationStyles.scss";
@import "./Components/Contact/ContactStyles.scss";
@import "./Components/BattleComp/BattleCompStyles.scss";
@import "./Components/Error/ErrorStyles.scss";
@import "./Components//GitRepo//GitRepoStyles.scss";
#root,
*,
*::after,
*::before,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.landingP {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
}
.redux-section {
  background-image: url("./img/reduxComp.png");
  height: 70vh;
  padding-right: 3%;
  padding-left: 3%;
  background-repeat: no-repeat;
}
.footer-component{
  max-height: 100%;
}
