.banner{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.banner div {
    margin-top: 10vh;
}
.bannerT h1 {
    font-size: 3em;
    margin-top: -2px;
}
.imgBanner{
    width: 30%;
}
.divImg{
    vertical-align: top;
}
.subTitle {
    padding-top: 2vh;
}
.AttentionG img{
    width: 6vh;
    animation: move 1s infinite alternate;
}
@keyframes move{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(20px);
    }
}
